.article-content {
  margin: 1rem;
}

.article-title {
  margin: 1rem;
}

.article-image {
  padding: 1rem;
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.article-author {
  margin: 1rem;
}

.article-date {
  margin: 1rem;
}

.article-body {
  padding: 1rem;
}

.article-topic {
  margin: 1rem;
}

.article-votes {
  padding: 1rem;
}

.article-comment-count {
  margin: 1rem;
}
