/* TODO: Consider making this flex-ible, get the text to wrap */
.article-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  list-style-type: none;
  font-size: 1.5vw;
  max-width: 80vw;
}

.article-list img {
  width: 40vw;
}
