.article-content {
  margin: 0;
}

.article-title {
  margin: 1rem;
}

.article-image {
  margin: 1rem;
}

.article-author {
  margin: 1rem;
}

.article-date {
  margin: 1rem;
}

.article-body {
  margin: 1rem;
}

.article-topic {
  margin: 1rem;
}

.article-votes {
  margin: 1rem;
}

.article-votes button {
  width: 50px;
  height: 20px;
  margin: 0.5rem;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0);
}

.article-comment-count {
  margin: 1rem;
}
