.article-title {
  margin: 1rem;
}

.article-image {
  margin: 1rem;
}

.article-author {
  margin: 1rem;
}

.article-date {
  margin: 1rem;
}

.article-body {
  margin: 1rem;
}

.article-topic {
  margin: 1rem;
}

.article-votes {
  margin: 1rem;
}

.article-comment-count {
  margin: 1rem;
}
