.article-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  list-style-type: none;
  max-width: 16px auto;
}

.article-list img {
  width: 100%;
  height: auto;
  max-height: 300px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .article-list {
    grid-template-columns: repeat(1, 1fr);
    font-size: 4vw;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  .article-list {
    grid-template-columns: repeat(2, 1fr);
    font-size: 2.5vw;
  }
}
