.comment-card {
  padding: 16px;
  list-style-type: none;
}

.comment-author {
  color: rgba(0, 0, 0, 0.85);
  font-weight: bold;
  text-decoration: none;
}

.comment-info {
  color: rgba(0, 0, 0, 0.5);
}

.comment-body {
  padding: 20px 0;
}

.comment-input {
  display: flex;
  padding: 16px;
  margin: 8px;
}

.comment-button {
  margin: 16px;
  padding: 8px;
  border-radius: 6px;
}

.comment-delete {
  background-color: #ff3232;
}

.comment-delete:hover {
  color: white;
}
