.header {
  position: relative;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  left: 0px;
  right: 0px;
  padding: 1em;
  margin: 0;
}

.skip-links {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.skip-links:focus {
  position: static;
  width: auto;
  height: auto;
}
