.topic-banner {
  display: flex;
  margin: 0;
  justify-content: flex-start;
  align-items: start;
  list-style-type: none;
}

.topic-item {
  padding: 0.5rem;
}

.topic-item li {
  text-decoration: none;
}

.topic-item li :hover {
  text-decoration: underline;
}
